/* 
@Filename: content1.css
@Author: choi_jin (choij2494@gmail.com)
@description: CSS apply it to .content1
*/
@charset "utf-8";

.content1{
    width: 100%;
    height: 150px;
    border-bottom: 3px solid #fff;
}

.content1 a{
    display: block;
    width: 100%;
    height: 150px;
    background-color: #7dc9e1;
}
.top_picture {
    display: block;
    height: 150px;
    background-image: url(../img/content1.jpg);
    background-position: center center;
}